<!DOCTYPE html>
<html>
<head>
    <title>Gym Insight - Your Login Credentials Are Here!</title>
</head>

<body>
    <p>Dear {{userName}},</p>
    <p>We're excited to welcome you to Gym Insight! Your login credentials are ready, and we can't wait for you to get started.</p>
    <p>Here are your details:</p>
    <p><strong>Email:</strong> {{email}}</p>
    <p><strong>Password:</strong> {{password}}</p>
    <p>To log in and explore all the amazing features we offer, click the link below:</p>
    <p><a href="{{link}}">Login Here</a></p>
    <p>If you didn't request these credentials, no worries! Just ignore this email, and your account will remain secure.</p>
    <p>If you have any questions or need assistance, our support team is here to help!</p>
    <p>Thank you for choosing Gym Insight, and we look forward to supporting your fitness journey!</p>
</body>

</html>
