<!DOCTYPE html>
<html>
<head>
    <title>Welcome to Gym Insight!</title>
</head>

<body>
    <p>Dear {{userName}},</p>
    <p>Welcome to Gym Insight! We are thrilled to have you on board and can't wait for you to get started.</p>
    <p>To ensure your successful management experience, please submit your gym details for review. Once approved by our super admin , you'll be able to access all the amazing features we offer.</p>
    <p>To submit your gym details, please click the link below:</p>
    <p><a href="{{link}}">Submit Gym Details</a></p>
    <p>Thank you for choosing Gym Insight, and we look forward to supporting your fitness journey!</p>
</body>

</html>
