<!DOCTYPE html>
<html>
<head>
    <title>Gym Insight - Gym Details Approved</title>
</head>

<body>
    <p>Dear {{userName}},</p>
    
    <p>Good news! The gym details you submitted have been approved by the Super Admin.</p>
    
    <p>You can now proceed with managing your gym and its members using the Gym Insight platform. To access your gym dashboard, please use the following link:</p>
    <a href="{{link}}">Go to Gym Dashboard</a>
    
    <p>If you have any questions or need assistance, feel free to reach out to our support team at any time.</p>
    
    <p>Thank you for your continued cooperation, and we wish you success in managing your gym!</p>
    
    <p>Best regards,<br>
    The Gym Insight Team</p>
</body>
</html>
