<!DOCTYPE html>
<html>
<head>
    <title>Gym Insight Login Details - Welcome to Gym Insight!</title>
</head>

<body>
    <p>Dear {{userName}},</p>
    <p>Welcome to Gym Insight! Your login credentials have been created, and you're all set to access your account and get started with our services.</p>
    <p>Here are your login details:</p>
    <p><strong>Email:</strong> {{email}}</p>
    <p><strong>Password:</strong> {{password}}</p>
    <p>To access your account, please use the following link:</p>
    <p><a href="{{link}}">Login to Your Account</a></p>
    <p>If you did not sign up or believe this message was sent in error, please disregard this email, and your account will remain inactive.</p>
    <p>Feel free to reach out to our support team if you need any help or have any questions!</p>
    <p>Thank you for choosing Gym Insight, and we wish you success on your fitness journey!</p>
</body>

</html>
